body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar CSS */
.navbar {
    background-color: #412234;
    overflow: hidden;
    position: fixed;
    width: 100%;
    /* height: 6vh; */
}

.navbar-container {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
}

.logo a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* opacity: 0%; */
}

.nav-item {
    margin-left: 20px;
    position: relative;
}

.nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px 0px;
    display: block;
    transition: background-color 0.3s;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all 0.8s ease-in;
    transform: translateX(-50%);
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link:hover {
    color: #ffcc00; /* Optional: Change text color on hover */
}



.logo1{
    display: flex;
    align-items: center;
}

.logo1 img{
    height: 40px;
}

 

ul.logos{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    /* padding-top: 10px; */
    padding-left: 0px;
}

.logo2{
    display: none;
}


.logo1 a{
    margin-left: 15px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    
}

.logo2 a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    
}

.head {
    height: 8vh;
    background-color: #412234;
}

.head2 {
    height: 6vh;
    width: 100vw;
    background-color: #5d3fb3;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
} 

.head2 img{
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-top: 5px;
    
}

#d2{
    color: white;
    margin-left: 10px;
    /* margin-top: 6px; */
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    background-color: #FFF;
    height: 88vh;
}

.foot {
    background-color: #100b1d;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    height: 12vh;
    padding: 0;
    margin: 0;
}

.foot p{
    color: grey;
    /* margin: 0;*/
    /* margin: 0; */
    /* padding: 0; */
    margin-top: 5px;
    /* height: 20vh; */
    width: 100vw;
    font-size: 0.8rem;
}

#des{
    color: white;
}



.profile {
    background-color: #009F93;
    height: 15rem;
    width: 15rem;
    position: relative;
    display: flex;
    float: right;
    margin-top: 10px;
}

#X {
    position: relative;
    height: 20px;
    width: 20px;
    left: 90%;
}

.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 0px;
}

.icons {
    display: none;
    height: 20px;
    /* width: 20px; */
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

#im1 {
    height: 30px;
    width: 30px;
    margin-top: 6px;
}

#im2 {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 5px;
}

#im5 {
    height: 37px;
    width: 37px;
    margin-top: 5px;
    margin-left: 0px;
}

#im4 , #im6{
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-left: 5px;
}

#im3{
    height: 28px;
    width: 28px;
    margin-top: 9px;

}

.txt1{
    text-align: center;
    height: 100%;

}

.foot p{
    color: grey;
}



@media (max-width: 768px) {
    .nav-menu{
        display: none;
    }

    .logo1{
        display: none;
    }
    .logo2{
        display: block;
    }

    .icons{
        display: flex;
    }
    
}

@media (max-width: 900px) {
    .logo1 a{
        font-size: 1rem;
    }

}